/* --------------header1 style ---------------- */
#header1{
          margin: 25px;
        }

.header1heading{
          margin-left:150px;
          font-weight: 800;
          position: relative;
          clear: both;
        }

.header1list{
          margin-left: 500px;
          position: relative;
          float: right;
          margin-top: -50px;
        }
.header1list>li{
          display: inline;
          font-weight: 700;
          padding: 5px;
        }

/* -------------header2 style---------------- */
#header2{
          background-image: url(../images/header2image.jpg);
          background-size: cover;
          height: 480px;
          width: 100%
        }

.layer{
          background-color: rgba(0, 0, 0, 0.5);
          height: inherit;
      }
.header2heading{
          /* margin: 100px; */
          padding: 60px;
          font-weight: 900;
          font-size: 4vw;
          color: white;
          margin-left: 10%;
          padding-top: 7%;
        }

.header2paragraph{
          margin-left: 10%;
          font-weight: 600;
          font-size: 2vw;
          color: white;
          margin-top: -50px;
          padding-left: 60px;
        }
 
